/.idea
*.c text=auto eol=lf
*.h text=auto eol=lf
*.o
*.d
*.a
/build/.idea
/build/__pycache__
!/libs/libalg.a
/apps/alg_dev
/apps/cal_frequent_drift
/apps/cal_frequent_drift_ur
/apps/kws
/apps/tws
/apps/usb_auditon
/apps/yp3
/inc/app_framework/tws_framework
/inc/app_framework/yp3_framework
/src/app_framework/tws_framework
/src/app_framework/yp3_framework

/apps/tws/gcc/dst
/apps/tws_fpga/gcc/dst
/apps/headphone_fpga/gcc/dst
/apps/karaoke/gcc/dst
/apps/tws/temp
/apps/karaoke/temp
/src/alg
/src/net
/src/g24
/si
/apps/tws/gcc/toolchain
.vs
/.vscode/settings.json
.sconsign.dblite
confile.inf
/src/app_framework/yp3_framework/audio_crab/components/libmad
/src/app_framework/yp3_framework/audio_crab/components_win32/vs2019/Debug
.out
__pycache__

workspace.*
/apps/yp3/gcc/build_time.h
/apps/yp3/gcc/user_config.h
/src/driver/driver_config.h
/configs/.idea
/src/app_framework/yp3_framework/audio_crab/components_win32
/bootloader/P262_loader/tools/toolchain
apps/karaoke/branch.log
apps/karaoke/commit.log
apps/karaoke/repo.log
